@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Ubuntu&display=swap");

body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  /* overflow: hidden; Hide scrollbars */
}

header {
  background-color: f4f4f4;
  color: black;
  text-align: center;
  padding: 1rem;
}
#content {
  width: 100%;
  min-height: 100%;
  animation: fadeIn 2s forwards;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
}
/* sidebar */
.offcanvas {
  background: #f4f4f4;
  background: linear-gradient(0deg, #f4f4f4 25%, rgb(124, 242, 255) 100%);
}
.offcanvas-body li {
  margin-left: 16px;
  margin-bottom: 1em;
  transition: all 300ms;
}
.offcanvas-body li:hover {
  transform: scale(1.05);
}

/* end sidebar */

.font-title {
  font-family: Poppins;
  font-size: 1.5em;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
}
.font-subtitle {
  font-family: Poppins;
  font-size: 1.5em;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
}
@media screen and (max-width: 600px) {
  .profile-img {
    width: 70vw;
  }
}
@media screen and (min-width: 601px) {
  .profile-img {
    width: 300px;
  }
}

h1 {
  margin-top: 0;
}

h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.list-unstyled {
  list-style: none;
}
.list-unstyled li a {
  text-decoration: none;
}

li {
  margin-bottom: 0.5rem;
}

.contact i {
  margin-right: 0.5rem;
}

.bio {
  margin-top: 1rem;
  display: flex;
}
.bio h2 {
  text-shadow: 5px 3px 0px rgba(95, 221, 253, 1);
}
.profile-img-container {
  height: 500px;
  /* overflow: visible; */
}
.profile-img {
  width: 100%;
  height: 100%;
  margin-right: 2em;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px rgb(0, 80, 154);
  object-fit: cover;
  transition: all 300ms;
}
.profile-img:hover {
  transform: translate(-5px, -5px);
  box-shadow: 10px 10px 10px 0px rgb(0, 80, 154);
}

.bio p {
  line-height: 1.6;
}
#logo-poli {
  height: 3em;
}
#logo-cap {
  height: 2em;
}
#logo-epicode {
  height: 2em;
}
.avatar-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.avatar-wrapper .avatar {
  width: 100%;
  height: auto;
  margin-top: -25%;
  transition: all 250ms;
}
.avatar-wrapper .avatar:hover {
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
