@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Ubuntu&display=swap");

body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: f4f4f4;
  color: black;
  text-align: center;
  padding: 1rem;
}
#content {
  width: 100%;
  min-height: 100%;
  animation: fadeIn 2s forwards;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
}
/* sidebar */
#sidebar {
  height: 100%;
  width: 250px;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 100vh;
  background: #cadefa;
  transition: all 0.3s;
}
#sidebar li a {
}
#sidebar li:hover a {
  transform: scale(1.05);
}
#sidebar.active {
  margin-left: -250px;
}

/* end sidebar */

.font-title {
  font-family: Poppins;
  font-size: 1.5em;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
}
.font-subtitle {
  font-family: Poppins;
  font-size: 1.5em;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
}
@media screen and (max-width: 600px) {
  .profile-img {
    width: 30vw;
  }
}
@media screen and (min-width: 601px) {
  .profile-img {
    width: 200px;
  }
}

h1 {
  margin-top: 0;
}

h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

ul {
  /* list-style: inside circle; */
  /* padding-left: 0; */
}

li {
  margin-bottom: 0.5rem;
}

.contact {
}

.contact i {
  margin-right: 0.5rem;
}

.bio {
  margin-top: 1rem;
  display: flex;
}
.bio h2 {
  text-shadow: 5px 3px 0px rgba(95, 221, 253, 1);
}
.bio img {
  margin-right: 2em;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px rgb(0, 80, 154);
  transition: all 300ms;
}
.bio img:hover {
  transform: translate(-5px, -5px);
  box-shadow: 10px 10px 10px 0px rgb(0, 80, 154);
}

.bio p {
  line-height: 1.6;
}
#logo_cap {
  height: 2em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
